@use "sass:math";

/*** Typography **/
$font-primary: 'Fredoka';
$font-secondary: sans-serif;


/*** Colors ***/
$whitish-bg: #f5f5f5;
$whitish-shadow: #d2d2d2;
$whitish-cell-bg: #aaa;
$black: #000;
$values: #062C30;

$darkmode-bg1: #121212;
$darkmode-bg2: #3a3a3a;
$darkmode-bg3: #666;
$darkmode-txt: rgba(255, 255, 255, 0.87);



/*** Font sizings ***/
html {
  font-size: 16px;
}
$text-base-size: 1rem;
$text-scale-ratio: 1.5;

$text-xxs:   math.div($text-base-size, ($text-scale-ratio * $text-scale-ratio * $text-scale-ratio));
$text-xs:   math.div($text-base-size, ($text-scale-ratio * $text-scale-ratio));
$text-sm:   math.div($text-base-size, $text-scale-ratio);
$text-md:   $text-base-size;
$text-lg:   $text-base-size * $text-scale-ratio;
$text-xl:   $text-base-size * $text-scale-ratio * $text-scale-ratio;
$text-xxl:  $text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxxl: $text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;


/*** Sizings ***/
$baseline: 16px;
$space-xxs:       math.div($baseline, 4);
$space-xs:        math.div($baseline, 3);
$space-sm:        math.div($baseline, 2);
$space-sm-plus:   math.div($baseline, 1.5);
$space-md:        $baseline;
$space-md-plus:   ($baseline*1.5);
$space-lg:        ($baseline*2);
$space-xl:        ($baseline*3);
$space-xxl:       ($baseline*4);
$space-xxxl:      ($baseline*5);
$space-xxxxl:     ($baseline*6);


/*** Sizing limits ***/
$min-width: 350px;
