@use "../helpers" as *;


.main--endgame {
  position: absolute;
  text-align: center;
  width: 50%;
  padding: $space-lg;
  padding-bottom: $space-xl;
  border-radius: $space-xl;
  box-shadow: 0 0 25px 10px $whitish-shadow;
  background-color: $whitish-bg;
  z-index: 1;
  min-width: 300px;
  max-width: 400px;
}

.score--endgame {
  margin: $space-lg 0 $space-xl;
}

.endgame__button {
  border: 1px solid $black;
  border-radius: $space-lg;
  padding: $space-md;
  font-size: $space-md;
  text-decoration: none;
  color: $black;

  &:hover {
  background: $black;
  color: $whitish-shadow;
  transition: all 300ms;
  }
}
