  .background--dark-mode {
    background-color: #121212;
  }

  .text--dark-mode {
    color: rgba(255, 255, 255, 0.87);
    border-color: rgba(255, 255, 255, 0.87);
  }


  .elevation1--dark-mode {
    background-color: #3a3a3a;
    box-shadow: 0 0 0 0;
  }

  .elevation2--dark-mode {
    background-color: #666666;
    box-shadow: 0 0 0 0;
  }
