:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Fredoka;
}


html {
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  background-color: #F5F5F5;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 375px;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  color: #000;
}


.hidden {
  display: none;
}
